.graph {
  background-color: #112c47;
  @apply rounded-xl;
}

.storage-item-graph {
  @apply w-4/12;
}

.production-graph {
  background-color: #112c47;
  @apply my-12;
}

@media only screen and (orientation: landscape) {
  .production-graph {
    margin-left: 5%;
    @apply w-5/12;
    @apply inline-block;
  }

  .storage-item-graph {
    @apply mx-auto;
    @apply mt-16;
  }
}

@media only screen and (orientation: portrait) {
  .production-graph {
    @apply mx-auto;
    @apply w-11/12;
  }
}
