@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
}

body {
  margin: 0;
  font-family: 'Product Sans', sans-serif;
  background-color: #0d0d19;
  /* background-color: #00000; */
  color: white;
}
